form {
    display: 'flex';
    flex-direction: 'column';
    border: '2px solid white';
    padding: '1em';
  }
  
  .titleField {
    resize: 'none';
    all: 'unset';
    background-color: 'black';
    padding: '20px';
    color: 'white';
    border-radius: '0.6em';
  }
  
  .takeNoteField {
    resize: 'none';
    all: 'unset';
    background-color: 'black';
    padding: '20px';
    color: 'white';
    border-radius: '0.6em';
  }