@import url('https://fonts.googleapis.com/css2?family=Amiko&family=DM+Mono:wght@500&family=Montserrat:ital@1&display=swap');

:root {
    --head-font: 'Amiko', sans-serif;
    --title-font: 'DM Mono', monospace;
    --text-font: 'Montserrat', sans-serif;
}