header {
	display: flex;
	justify-content: space-between;
    background-color: var(--container);

    div {
        margin-left: 2rem;
    }

	nav {
		display: flex;
		align-items: center;
        margin-right: 2em;
		ul {
			display: flex;
			gap: 2em;

			li {
				cursor: pointer;
			}
		}
	}
}
